body {
  background: #eee;
  padding: 15px;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 18px;
}

label {
  font-size: 12px;
}

button {
  font-size: 14px;
}

.form-margin {
  margin-bottom: 10px;
}
